/*Formatação*/
*{
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    background-color: #dbdbdb;
}

/*header*/
.a{
    width: 100vw;
    height: 50px;
    background-color: #c3c3c3;
}

.b{
    width: 100vw;
    height: 25px;
    background-color: rgb(253, 223, 126);
}

.box1{
    width: 100vw;
    background-color: #c3c3c3;
}

.btn{
    width: 80px;
    height: 30px;
    margin:5px 0 5px 30px;
}

.btn1{
    width: 50px;
    margin: 2px 0 2px 5px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    height: 350px;
    width: 300px;
    background-color: rgb(250, 250, 250);
}

th, .td1{
    background-color: #c3c3c3;
}

.td1{
    width: 50px;
}

.box2{
    display: flex;
}

.h2{
    font-size: 17px;
    margin: 3px 50px 0;
}

.box3{
    background-color: #c3c3c3;
    width: 298px;
    border: 1px solid black;
    border-collapse: collapse;
}

































































































































































































