/*Formatação*/
*{
    margin: 0;
    padding: 0;
}

/*header*/
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    height: 350px;
    width: 300px;
}

th, .td1{
    background-color: #c3c3c3;
}

.td1{
    width: 50px;
}

.box1{
    display: flex;
}

.h2{
    font-size: 17px;
    margin: 3px 50px 0;
}

.box2{
    background-color: #c3c3c3;
    width: 298px;
    border: 1px solid black;
}

































































































































































































